.BODY {
background: url('http://files.customize.org/download/wallpapers/88552/98004/Dark_Gradient_Wallpaper-1920x1200.jpg');

}

.column2 {
   padding-top:150px; 
   float: left; 
   width:40%; 
}

.column1 { 
   float: left; 
   width:60%;
}

.cardholder{
   width: 70%;
   height:67%;
}

.card {
  background: url('http://www.smartphonewallpaperhd.com/files/wallpapers-1001/HTC%20Light%20Gradient%20Background%203136.jpg');
  position:absolute;
  top:10%;
  left:5%;   
  border: 10px solid black;
  border-radius:60px;
  padding: 1%; 
}

.user { 
   height: 120px;
}

.profile-pic {
   height:1%;
   -webkit-clip-path: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
}

.profile-pic-container {
   float:left;

}

.username {
   padding-left:60px;
   font-family: 'Lobster Two', cursive;
   font-size: 36pt;

}

.center {
   width: 80%;
   margin:auto;
}

.caption {
   padding-top:80px;
   font-family: 'Overlock', cursive;
   font-size:26pt;
}

.likes {
   position:absolute;
   top:10px;
   right:10px; 
   font-family: 'Lobster Two', cursive;
   font-size: 46pt;
   color: #f12938;
}

.heart {
  float:left;
  padding-left:56px;
  background-image: url(./heart.svg);
  background-repeat: no-repeat;
  background-position: 0px 9px;
  background-size: 50px 50px;

  width:50px;
  height:100px;
}

.slide_image {
   border-radius: 40px;

}


/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
     transition:0.5s linear all;
       opacity:1;
}
.fade.ng-leave.ng-leave-active {
     opacity:0;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
     transition:0.5s linear all;
       opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
     opacity:1;
}



