
<!doctype html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Full Page Slideshow Demo 1</title>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>

<link rel="stylesheet" type="text/css" href="slideshow.css">
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>


</head>
<body ng-app="SlideshowApp" class='BODY bkgnd_gradient'>


<div class="main" ng-controller="MainController" >

 <div class="cardholder" ng-repeat="image in images"> 
   <div class="card fade thickborder"  ng-if="isCurrentSlideIndex($index)" style="
   
   background: -moz-radial-gradient(center, ellipse cover, #{{image.color1}} 0%, {{image.colour2}} 76%, {{image.colour2}} 97%); /* ff3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, {{image.colour1}}), color-stop(76%, {{image.colour2}}), color-stop(97%, {{image.colour2}})); /* safari4+,chrome */
   background: -webkit-radial-gradient(center, ellipse cover, {{image.colour1}} 0%, {{image.colour2}} 76%, {{image.colour2}} 97%); /* safari5.1+,chrome10+ */
   background: -o-radial-gradient(center, ellipse cover, {{image.colour1}} 0%, {{image.colour2}} 76%, {{image.colour2}} 97%); /* opera 11.10+ */
   background: -ms-radial-gradient(center, ellipse cover, {{image.colour1}} 0%, {{image.colour2}} 76%, {{image.colour2}} 97%); /* ie10+ */
   background: radial-gradient(ellipse at center, {{image.colour1}} 0%, {{image.colour2}} 76%, {{image.colour2}} 97%); /* w3c */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{image.colour1}}', endColorstr='{{image.colour2}}',GradientType=1 ); /* ie6-9 */
   
   
   ">
   <div class='tag-info'><span class='overlock transparent'>Tag your <span class='lobster'>Instagram</span> photos with </span><span class='hashtag'>#{{image.watchtag}}</span> </div>
      <div class="column1">
        <div class="photo_container" >
             <img  class="slide_image" ng-src="{{image.url}}" >
        </div>
      </div>
      <div class="column2" >
         <div class='user'>
           <div class="profile-pic-container"><img ng-src="{{ image.profile_pic }} " class='profile-pic' /></div>
           <div class='username' > {{image.username}} </div>
         </div>
   <!--      <div class='likes transparent blur' > <div class="heart" ng-if="image.likes > -1" > {{image.likes}} </div></div> -->
         <div class='caption' > {{image.caption}} </div>
      </div >
   </div>

 </div>


</div>









<script>
//app
var app = angular.module('SlideshowApp', ['ngAnimate' ]);


////services
//app.factory('getimages', ['$http', function($http) { 
//   return $http.get('./get_photos.json')
//            .success(function(data) { console.log('data'); return data; }) 
//            .error(function(err) { console.log('error');return err;  }); 
//}]);



//controllers
app.controller('MainController', ['$scope', '$timeout', '$http', function($scope, $timeout, $http) { 
  //   getimages.success(function(data) {
 //            $scope.images=data;
   //           console.log('first fire');
   //  });

  var INTERVAL = 5000;
  $scope.images = [];

  $scope.currentAnimation = 'fade-in-animation';




  function setCurrentSlideIndex(index) {
     $scope.currentIndex = index;
  }

  function isCurrentSlideIndex(index) {
     return $scope.currentIndex === index;
  }

  function nextSlide() {
      $scope.currentIndex = ($scope.currentIndex < $scope.images.length - 1) ? ++$scope.currentIndex : 0;
      $timeout(nextSlide, INTERVAL);
  }

  function loadSlides() {
     $timeout(nextSlide, INTERVAL);
  }

  $scope.currentIndex = 0;
  $scope.setCurrentSlideIndex = setCurrentSlideIndex;
  $scope.isCurrentSlideIndex = isCurrentSlideIndex;


  $scope.getData = function () {
      $http.get('./get_photos.json')
           .success(function(data) { console.log('fetched'); $scope.images = data; });
   };

  // Function to replicate setInterval using $timeout service.
  $scope.intervalFunction = function(){
    $timeout(function() {
      $scope.getData();
//getimages.success(function(data) { $scope.images=data;   });
      $scope.intervalFunction();
      console.log('fired');
    }, 5000) //time between fetching new images from server/instagram (in milliseconds)
  };

  // Kick off the interval
  $scope.intervalFunction();
  loadSlides();


       // ... 
}]);

app.animation('.fade-in-animation', function ($window) {
    return {
        enter: function (element, done) {
            TweenMax.fromTo(element, 1, { opacity: 0}, {opacity: 1, onComplete: done});
        },

        leave: function (element, done) {
            TweenMax.to(element, 1, {opacity: 0, onComplete: done});
        }
    };
});


</script>


</body>
</html>

